.badge {
    padding: var(--spacing-xs) var(--spacing-sm);
    background-color: var(--color-neutral-bcg);
    color: var(--color-neutral-text);
    /* Testo variabile Neutral */
    font-size: var(--font-size-xs);
    border-radius: 100vw;
    font-weight: 800;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
}

/* Quando è positive, cambia SIA sfondo SIA testo */
.badge:is(.positive) {
    background-color: var(--color-positive-bcg);
    color: var(--color-positive-text);
}

/* Quando è negative, cambia SIA sfondo SIA testo */
.badge:is(.negative) {
    background-color: var(--color-negative-bcg);
    color: var(--color-negative-text);
}