/* 1. reset usiamo un box-sizing model che include sia il badding che il border*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 2 rimuovere tutto il margin che abbiamo */
* {
    margin: 0;
}

/* 3 moglioriamo la leggibilità del nostro carattre*/
body {
    line-height: 1.25;
    -webkit-font-smoothing: antialiased;
}

/* 4 cambiare il display da defoult in block*/

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* 5 facciamo i controlli dei form */
:where(input, button, textarea, select) {
    font: inherit;
    color: inherit;
}